:root{
    --main-bg: #F4F7FE;
    --main-wt: #FFF;
    --main-gray: #E4E7F0;
    --main-blue: #184BFF;
    --main-active: #202740;
    --main-inactive: #A0AEC0;
}

::placeholder{
    color: var(--main-inactive);
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    color: var(--main-active);
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



body{
    background: var(--main-bg);
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    line-height: 1;
    font-weight: 500;
}

.b-600{
    font-weight: 800;
}

.hr{
    width: 100%;
    border-bottom: 1px solid var(--main-gray);
}

.flex{
    display: flex;
}

.colmun{
    flex-direction: column;
}

.gap{
    gap: 10px;
}

.gap-20{
    gap: 20px;
}

.items-center{
    align-items: center;
}

.items-end{
    align-items: end;
}

.align-baseline{
    align-items: baseline;
}

.justify-between{
    justify-content: space-between;
}

.main-logo{
    padding-inline-end: 3px;
}

/* Text Colors: */
.text-blue{
    color: var(--main-blue);
}

.text-inactive{
    color: #A0AEC0;
}

aside nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.aside-link{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    color: var(--main-inactive);
    text-decoration: unset;
    font-size: 11px;
}

.aside-link .wrap-svg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #A0AEC0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.aside-link.active .wrap-svg{
    background: var(--main-blue);
    box-shadow: 0px 7px 20px 0px #184BFF33;
}

.grid-80-auto{
    display: grid;
    grid-template-rows: 80px auto;
    overflow: hidden;
    height: 100%;
    gap: 25px;
    padding-bottom: 30px;
}

.box-wrap{
    height: 100%;
    overflow: hidden;
}

.box{
    background: var(--main-wt);
    box-shadow: 0px 7px 20px 0px #0000000A;
    border-radius: 15px;
    padding: 25px 15px 25px 40px;
    height: 100%;
    overflow: hidden;
}

.scroll{
    height: 100%;
    overflow-x: auto;
    padding-right: 20px;
}

.border-bottom{
    border-bottom: 1px solid #E4E7F0;
}


/* Form: */
input,select{
    background: #FFFFFF;
    padding: 9px 20px;    
    border-radius: 50px;
    border: unset;
    font-size: 14px;
}


.input-search{
    position: relative;
}

.input-search input{
    padding-inline-start: 40px;
}

.input-search::before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(/search.svg);
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.btn{
    border-radius: 50px;
    border: 1px solid;
    background: transparent;
    padding: 9px 20px;
    cursor: pointer;
    font-size: 14px;
}

.btn-primary{
    background: var(--main-blue);
    border-color: var(--main-blue);
    color: white;
    box-shadow: 0px 7px 20px 0px #184BFF33;
}

.btn-goust{
    color: var(--main-inactive);
}

.goust input{
    background: transparent;
    border: 1px solid;
    color: var(--main-inactive);
}

.goust::before{
    opacity: 0.5;
}

.btn.icon{
    position: relative;
    padding-inline-start: 40px;
}

.btn.icon-create::before{
    background: url(/create.svg);
}

.btn.icon-filter::before{
    background: url(/filter.svg);
}

.btn.icon-sort::before{
    background: url(/sort.svg);
}

.btn.icon::before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.top-bar{
    display: flex;
    justify-content: space-between;
}

.top-bar > div:nth-child(1){
    gap: 30px;
}

.top-bar h1{
    padding-inline-end: 15px;
    display: flex;
    align-items: center;
}

.top-bar .tab{
    color: var(--main-inactive);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.top-bar .tab.active{
    color: var(--main-active);
    border-bottom: 2px solid var(--main-blue);
}